/* Styling for the bot summary section */
.bpw-botinfo-summary {
  margin-top: -32px; /* Move the section up by 32px */
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); /* Add a 1px solid border to the bottom */
  box-shadow: 0px 4px 5px -5px var(--gray); /* Add a box shadow effect */
  text-align: center; /* Center align the text */
}

/* Styling for the bot avatar */
.bpw-botinfo-summary .bpw-bot-avatar.default {
  margin: 0 auto var(--spacing-medium); /* Center the avatar image and add some margin at the bottom */
}

/* Styling for the bot information container */
.bpw-botinfo-container {
  margin: 0 auto; /* Center the container */
  max-width: 800px; /* Set a maximum width of 800px */
  width: 100%; /* Set the width to 100% */
  text-align: center; /* Center align the text */
  color: #1e1e1e; /* Set the font color to a dark gray */
  overflow-y: auto; /* Add a vertical scroll bar if the content overflows */
  height: 100%; /* Set the height to 100% */
}

/* Styling for the bot cover picture wrapper */
.bpw-botinfo-cover-picture-wrapper {
  height: 50%; /* Set the height to 50% */
  overflow: hidden; /* Hide any content that overflows the container */
}

/* Styling for the bot cover picture */
.bpw-botinfo-cover-picture {
  width: 100%; /* Set the width to 100% */
  object-fit: cover; /* Scale the image to fit the container and maintain its aspect ratio */
}

/* Styling for buttons and links */
.bpw-botinfo-container button,
.bpw-botinfo-container a {
  font-size: 0.9em; /* Set the font size to 0.9em */
  color: rgb(102, 102, 102); /* Set the font color to a light gray */
  text-decoration: none; /* Remove any text decoration */
}

/* Styling for the bot description section */
.bpw-botinfo-description {
  margin-top: 0.4em; /* Add some margin at the top */
  margin-bottom: 1em; /* Add some margin at the bottom */
}

/* Styling for the bot summary header */
.bpw-botinfo-summary h3 {
  margin: 0; /* Remove any margin */
}

/* Styling for the bot links section */
.bpw-botinfo-links {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); /* Add a 1px solid border to the bottom */
}

/* Styling for each bot link */
.bpw-botinfo-link {
  padding-left: 25%; /* Add some padding to the left */
  display: flex; /* Use flexbox to align the content */
  margin: 20px 0; /* Add some margin at the top and bottom */
}

/* Styling for the bot link icon */
.bpw-botinfo-link i {
  margin-right: 10px; /* Add some margin to the right */
}

/* Styling for the preferred language section */
.bpw-botinfo-preferred-language {
  margin: 20px 0; /* Add some margin at the top and bottom */
}

/* This section defines the styling for the user's preferred language dropdown select box */
.bpw-botinfo-preferred-language select {
  /* Adds 10 pixels of margin to the left of the select element */
  margin-left: 10px;
}

/* This section defines the styling for the terms and conditions link */
.bpw-botinfo-terms {
  /* Adds 0 pixels of padding to the top and bottom,
    and 20 pixels of padding to the left and right */
  padding: 0px 20px;
  /* Aligns the text to the left */
  text-align: left;
}

.bpw-botinfo-terms a {
  /* Makes the anchor element a block-level element that is inline with the rest of the text */
  display: inline-block;
  /* Sets the width of the anchor element to 100% */
  width: 100%;
  /* Sets the height of each line of text within the anchor element to 2.5 times the font size */
  line-height: 2.5;
  /* Adds a solid 1 pixel border to the bottom of the anchor element with a slightly transparent black color */
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

/* This section defines the styling for the start button */
.bpw-botinfo-start-button {
  /* Sets the font of the element to inherit from the parent element */
  font: inherit;
  /* Sets the text color of the element to inherit from the parent element */
  color: inherit;
  /* Sets the background color of the element to be transparent */
  background-color: transparent;
  /* Changes the mouse cursor to a pointer when hovering over the element */
  cursor: pointer;
  /* Adds a 20 pixel border radius to the corners of the element */
  border-radius: 20px;
  /* Sets the height of each line of text within the element to 24 pixels */
  line-height: 24px;
  /* Adds 5 pixels of padding to the top and bottom,
    and 10 pixels of padding to the left and right of the element */
  padding: 5px 10px;
  /* Adds 25 pixels of margin to the top of the element */
  margin-top: 25px;
  /* Adds a solid 1 pixel border to the element with a gray color */
  border: 1px solid rgb(100, 100, 100);
}

/* This section defines the styling for the start button when it has focus */
.bpw-botinfo-start-button:focus {
  /* Changes the border color of the element to black when it has focus */
  border: 1px solid black;
  /* Changes the text color of the element to black when it has focus */
  color: black;
}

/* Style for the composer section */
.bpw-composer {
  padding: 0;
  /* Remove any padding */
  position: relative;
  /* Set the position to relative */
  outline: none;
  /* Remove any outline */
  border: none;
  /* Remove any border */
}

/* Style for the composer inner section */
.bpw-composer-inner {
  padding: 0;
  /* Remove any padding */
  line-height: 0;
  /* Remove any line-height */
  position: relative;
  /* Set the position to relative */

  /* Set the display property for different browsers */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-between;
  /* Align items to the start and end of the container */
}

/* Style for the composer textarea */
.bpw-composer-textarea {
  flex-grow: 2;
  /* Allow the textarea to grow to fill the available space */
}

/* Styles for the textarea element in the composer */
.bpw-composer textarea {
  /* Sets the background color to a variable named "--white" */
  background: var(--white);
  /* Sets the border to a 1-pixel solid line using a variable named "--zinc-200" */
  border: 1px solid var(--zinc-200);
  /* Sets the border radius to a variable named "--spacing-medium" to make the edges rounded */
  border-radius: var(--spacing-medium);
  /* Sets the text color to a variable named "--zinc-900" */
  color: var(--zinc-900);
  /* Inherits the font family from the parent element */
  font-family: inherit;
  /* Sets the font size to 12 pixels */
  font-size: 12px;
  /* Sets the height of the textarea to 54 pixels */
  height: 54px;
  /* Sets the padding on the top to 19 pixels, and on the right and left to a variable named "--spacing-large" */
  padding: 19px var(--spacing-large) var(--spacing-large);
  /* Disables the ability to resize the textarea */
  resize: none;
  /* Adds a 0.2-second transition effect to the border when the focus changes */
  transition: border 0.2s;
  /* Sets the width of the textarea to 100% */
  width: 100%;
  /* Sets the margin on the right side to a variable named "--spacing-small" */
  margin-right: var(--spacing-small);
}

/* Styles for the textarea element when it is in focus */
.bpw-composer textarea:focus {
  /* Changes the border color to a variable named "--zinc-300" */
  border-color: var(--zinc-300);
}

/* Styles for the textarea element when it is in right-to-left mode */
.bpw-composer.rtl .bpw-composer-inner textarea {
  /* Sets the text direction to right-to-left */
  direction: rtl;
}

/* Styles for the textarea element when it is in left-to-right mode */
.bpw-composer.ltr .bpw-composer-inner textarea {
  /* Sets the text direction to left-to-right */
  direction: ltr;
}

/* Styles for the quick reply dropdown menu */
.bpw-keyboard-quick_reply-dropdown {
  /* Sets a margin of 0.2rem on the top and bottom and 0.5rem on the right and left */
  margin: 0.2rem 0.5rem;
}

/* Styles for the send button when it is disabled */
.bpw-send-button:disabled,
.bpw-send-button:disabled:hover {
  /* Sets the opacity to 0.4 to make the button appear slightly transparent */
  opacity: 0.4;
  /* Sets the background color to a variable named "--theme-primary" */
  background-color: var(--theme-primary);
  /* Changes the cursor to the default cursor */
  cursor: default;
}

/* Styles for the container holding the send buttons */
.bpw-send-buttons {
  /* Sets the display mode to flex and the direction to horizontal */
  display: flex;
  flex-direction: row;
  /* Aligns the items to the center */
  align-items: center;
}

/* This is the CSS style for the button that sends a message */

.bpw-send-button {
  display: flex;
  /* Set the button to be arranged using flexible layout */
  justify-content: center;
  /* Center the button's content horizontally */
  align-items: center;
  /* Center the button's content vertically */
  border-radius: var(--spacing-medium);
  /* Make the corners of the button slightly rounded */
  background-color: var(--theme-primary);
  /* Give the button a primary color background */
  padding: 20px;
  /* Add some extra space around the button's content */
  width: 24px;
  /* Set the button's width to be 24 pixels */
  height: 24px;
  /* Set the button's height to be 24 pixels */
  color: transparent;
  /* Hide any text that might appear inside the button */
  cursor: pointer;
  /* Show the pointer cursor when the button is hovered over */
  /* background-image: url(./button.png) !important; */
  /* Add an image to the button */
  background-repeat: no-repeat !important;
  /* Don't repeat the image */
  background-position: center !important;
  /* Center the image inside the button */
  transition: background-color 0.2s;
  /* Make the button's background color change smoothly over a short period of time */
}

/* This is the CSS style for the button that sends a message when it's not disabled and is being hovered over */

.bpw-send-button:not(:disabled):hover {
  background-color: var(--theme-primary-hover);
  /* Change the button's background color to a different color when it's being hovered over */
}

/* This is the CSS style for the voice recorder */

.bpw-voice-recorder {
  display: flex;
  /* Set the voice recorder to be arranged using flexible layout */
  flex-direction: row;
  /* Arrange the voice recorder's content horizontally */
  align-items: center;
  /* Center the voice recorder's content vertically */
}

/* This block of CSS code styles a header icon element */
.bpw-header-icon {
  /* Remove border */
  border: none;
  /* Remove background color */
  background: none;
  /* Remove padding */
  padding: 0;
  /* Remove margin */
  margin: 0;
  /* Set text color to a variable named shark */
  color: var(--shark);
  /* Set line-height to zero */
  line-height: 0;
  /* Set left margin to a variable named spacing-large */
  margin-left: var(--spacing-large);
  /* Align text to the right */
  text-align: right;
  /* Align element vertically in the middle */
  vertical-align: middle;
  /* Set cursor to a pointer */
  cursor: pointer;
  /* Set fill color to a variable named shark */
  fill: var(--shark);
  /* Set width to 16 pixels */
  width: 16px;
  /* Set height to 16 pixels */
  height: 16px;
  /* Set fill transition duration to 0.3 seconds */
  transition: fill 0.3s;
}

/* Apply the same fill color and fill transition to the icon's SVG and path elements */
.bpw-header-icon svg,
.bpw-header-icon svg path {
  /* Set fill color to a variable named shark */
  fill: var(--shark);
  /* Set fill transition duration to 0.3 seconds */
  transition: fill 0.3s;
}

/* When the icon is hovered over, change the fill color to a variable named reef for the icon, SVG and path elements */
.bpw-header-icon:hover,
.bpw-header-icon:hover svg,
.bpw-header-icon:hover svg path {
  fill: var(--reef);
}
.bpw-floating-button {
  /* Aligns the button to the right side of the container */
  float: right;
  /* Sets the fill color of the button icon */
  fill: rgb(255, 255, 255);
  /* Changes the cursor to a pointer when hovering over the button */
  cursor: pointer;
  /* Removes the outline around the button when clicked */
  outline: none;

  /* Centers the icon inside the button element */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sets the z-index to ensure the button is on top of other elements */
  z-index: 1;
  /* Sets the width and height of the button */
  width: 52px;
  height: 52px;
  /* Changes the cursor to a pointer when hovering over the button */
  cursor: pointer;
  /* Rounds the corners of the button */
  border-radius: 50%;
  /* Adds a shadow effect to the button */
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  /* Clips any content that overflows the button */
  overflow: hidden;

  /* Removes padding and borders from the button */
  padding: 0;
  border: none;
  background-clip: padding-box;

  /* Adds a transition effect to the button when its size changes */
  transition:
    width 1s,
    height 1s;
}
