<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="css/review.css">
</head>
<body>
    <div class="g-review-container">
        
        <div class="star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5"  class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>

            <form action="#">
                <header></header>
                <div class="text-area">
                    <textarea name="" cols="30" placeholder="Describe your experience"></textarea>
                </div>

                <div class="sub-btn">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
    <!-- <script>
        const p_btn = document.querySelector('.sub-btn button');
        const post = document.querySelector('.post');
        const star_widget = document.querySelector('.star-widget');

        p_btn.onclick = () =>{
            star_widget.style.display="none";
            post.style.display = "block";
        }
    </script> -->
</body>
</html>